* {
    /* background-color: #E0DDE8; */
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #E0DDE8;
    width: 100vw;
    overflow-x: hidden;
}

/* .nav {
    width: 33.33%;
    background-color:  #383F7B;
    color: white;
    
} */

nav a {
    color: white;
    padding: 2% 5%;
    font-size: 2rem;
}

nav a:hover {
    color: rgb(231, 232, 232);
    
}
nav {
    display: flex;
    flex-wrap: wrap;
    background-color: #383F7B;

}
/* .other-pages,
.other-pages a,
.logo img {
    background-color: #383F7B;

} */

/* .hero,
.hero2 {
    width: 100vw;
    height: 100vh;
} */

.heroimage {
    width: 100vw;
    height: 100vh;
    background-image: url("pics/heroimg1.png");
    background-size: cover;
}

.heroimage2 {
    width: 100vw;
    height: 100vh;
    background-image: url("pics/heroimg2.png");
    background-size: cover;
}

.hero {
    width: 100%;
}

.logo {
    width: 33.33%;
    background-color: #383F7B;
}
.other-pages {
    width: 66.66%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.line {
    border-right: solid 3px black;
}

h2 {
    text-align: center;
}

a {
    color: white;
}

.center {
    position: absolute;
    top: 45%;
    left: 50%;
     transform: translate(-50%, -50%);
}

.center2 {
    position: absolute;
    top: 50%;
    left: 50%;
     transform: translate(-50%, -50%);
}
.center,
.center2 {
    background-color: #7B6FD3;
}

footer div {
    width: 50%;
    background-color: #383F7B;
}
footer {
    display: flex;
    flex-wrap: wrap;
    color: white;
}
footer p,
footer li,
footer h3,
footer a,
footer ul {
    background-color: #383F7B;
}
footer ul {
    list-style: none;
}
footer h3,
footer p {
    width: 100%;
}
.footer-content {
    border-right: solid 1px black;
}
.footer-nav ,
.footer-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1% 0%;
}

p {
 font-size: 25px;   
}

h2 {
    font-size: 30px;
}

.center,
.center2 {
    font-size: 40px;
}

.pic-mini {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.apic-mini {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2%;
}

.awarebig {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.item07 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.item02,
.item06 {
    width: 40%;
}

.homepagecontent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.homepagecontent2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2%;
    padding-top: 2%;
}

.item01 {
    padding-top: 2%;
}

.item06 p {
    padding-left: 2%;
}

.item08 p {
    font-size: 25px;
    width: 95%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
}

h2 {
    padding-top: 2%;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 300px) {
    .heroimage,
    .heroimage2 {
        width: 100%;
    }
}

@media only screen and (max-width: 2px) {
    .awarebig {
        width: 2px;
    }
}